@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary__color: #35403A;
    --secondary__color: #4C594F;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--primary__color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 700px;
    padding: 50px;
    background-color: #fff;
    gap: 20px;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 530px;
    font-size: 3rem;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
}

input{
    font-size: 1.3em;
    margin: 0 10px;
    padding: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.addTaskBtn{
    font-size: 1.3em;
    margin: 0 10px;
    padding: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.removeBtn{
    background-color: #fff;
    padding: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.taskContainer{
    list-style: none;
    width: 530px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #fff;
    gap: 5px;
}

.taskRow{
    background-color: #000;
    padding: 10px;
    display: flex;
    gap: 60px;
}

.hidden{
    display: none;
}