@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary__color: #35403A;
    --secondary__color: #4C594F;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--primary__color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 400px;
    padding: 50px;
    background-color: #fff;
}

h1{
    font-size: 3rem;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
}

.timer{
    font-size: 4rem;
    background-color: #000;
    color: #fff;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.buttons button{
    font-size: 1.3rem;
    margin: 0 10px;
    padding: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.invalid{
    pointer-events: none;
    opacity: 0.5
}

.pause{
    color: red;
}